.template-tray {
    display: flex;
    flex-wrap: wrap
}

.template-tray div {
    width: 45%;
    margin: 2.5%;
}

.template-tray div:hover {
    cursor: pointer;
}

.template-tray img {
    width: 100%;
    height: 100px;
}